@import '../../styles/colors';

.awardCard{
  border: 1px solid $grey-2;
  width: 30.8125rem;
  .cardTitle{
    display: flex;
    background-color: $grey-2;
    padding: 0 1.25rem;
    color: #fff;
    align-items: center;
    height: 3.75rem;
    font-size: 1.5625rem;
    letter-spacing: 1px;
  }
  .cardContent{
    padding: 2rem 1.125rem 3rem;
    ul{
      padding-left: 1.125rem;
      li{
        font-size: 1.125rem;
        letter-spacing: 0.45px;
        color: $grey-2;
        margin-bottom: 0.625rem;
      }
    }
  }
}
